<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/styles/reset.css" />
        <link rel="stylesheet" href="/styles/style.css" />
        <link
            rel="shortcut icon"
            href="/assets/favicon.ico"
            type="image/x-icon"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Calistoga&family=Raleway:wght@400;500;700;800&display=swap"
            rel="stylesheet"
        />
        <title>Informações Gerais</title>
    </head>

    <body>
        <header>
            <nav class="nav-bar">
                <a href="../index.html">
                    <img src="/assets/Logo1_1.svg" alt="Logo do CodeChella" />
                </a>

                <button id="btn-mobile-menu">
                    <img
                        src="/assets/menu.svg"
                        alt="Botão do menu hambúrguer"
                    />
                </button>

                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="experiencia.html" class="nav-link"
                            >A experiência</a
                        >
                    </li>
                    <li class="nav-item">
                        <a href="setores.html" class="nav-link"
                            >Mapa de Setores</a
                        >
                    </li>
                    <li class="nav-item">
                        <a href="informacoes.html" class="nav-link">Informações</a>
                    </li>
                    <li class="nav-item">
                        <a href="ingresso.html" class="nav-link">Ingresso</a>
                    </li>
                </ul>
            </nav>
        </header>

        <main>
            <div class="banner banner-infos">
                <h1 class="banner-title">Informações Gerais</h1>
            </div>

            <section class="faq">
                <h2>Perguntas Frequentes:</h2>

                <button class="accordion">
                    Quais serão as atrações?
                    <img src="/assets/arrow_drop_down.svg" alt="" />
                </button>
                <div class="panel">
                    <p>
                        Teremos dois dias de shows, o primeiro (11/03) com
                        bandas de rock, e o segundo (12/03) com bandas pop.
                        <a href="../index.html">
                            Confira o line-up em detalhes clicando neste link!
                        </a>
                    </p>
                </div>

                <button class="accordion">
                    Qual é a classificação etária?
                    <img src="/assets/arrow_drop_down.svg" alt="" />
                </button>
                <div class="panel">
                    <p>
                        A partir de 16 anos, todo mundo pode entrar. De 13 a 15
                        anos, tem que estar acompanhado dos pais ou responsáveis
                        legais. Menores de 10 anos não podem entrar.
                    </p>
                </div>

                <button class="accordion">
                    Quais são os setores disponíveis?
                    <img src="/assets/arrow_drop_down.svg" alt="" />
                </button>
                <div class="panel">
                    <p>
                        Pista Premium <br />
                        Pista Comum <br />
                        Cadeiras térreo <br />
                        Cadeiras superiores <br />
                        Rampas
                    </p>
                </div>

                <button class="accordion">
                    Quais são os itens proibidos?
                    <img src="/assets/arrow_drop_down.svg" alt="" />
                </button>
                <div class="panel">
                    <p>
                        Garrafas, latas, bebidas, utensílios de armazenagem,
                        embalagens rígidas com tampa, capacetes, cadeiras ou
                        bancos, armas de fogo e armas brancas, objetos
                        pontiagudos, cortantes e/ou perfurantes, correntes e
                        cinturões, fogos de artifício, objetos de vidro,
                        substâncias inflamáveis, cigarro eletrônico, corrosivas
                        e ou tóxicas, revistas, jornais, livros e copo térmico
                        ou similares.
                    </p>
                </div>

                <button class="accordion">
                    Quem tem direito a meia-entrada?
                    <img src="/assets/arrow_drop_down.svg" alt="" />
                </button>
                <div class="panel">
                    <p>
                        De acordo com a Lei Federal, têm direito ao benefício da
                        meia-entrada aqueles que preencherem os requisitos e
                        apresentarem os documentos comprobatórios.
                    </p>
                </div>
            </section>
        </main>

        <footer>
            <div class="footer-box">
                <img
                    src="/assets/Logo1_2.svg"
                    alt="Logo do CodeChella"
                    class="footer-logo"
                />

                <div class="social-media-box">
                    <p class="social-media-text">Acesse nossas redes:</p>

                    <ul class="social-media-list">
                        <li>
                            <a href="#">
                                <img
                                    src="/assets/whatsapp.svg"
                                    alt="Ícone do WhatsApp"
                                />
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img
                                    src="/assets/twitch.svg"
                                    alt="Ícone da Twitch"
                                />
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img
                                    src="/assets/instagram.svg"
                                    alt="Ícone do Instagram"
                                />
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img
                                    src="/assets/twitter.svg"
                                    alt="Ícone do Twitter"
                                />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <p>
                Desenvolvido por
                <a
                    href="https://gabzoom.vercel.app/"
                    target="_blank"
                    class="footer-link"
                    >@gabzoom.</a
                ><br />
                Projeto fictício sem fins comerciais.
            </p>
        </footer>

        <script src="/scripts/main.js"></script>
    </body>
</html>
