<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/styles/reset.css" />
  <link rel="stylesheet" href="/styles/style.css" />
  <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Calistoga&family=Raleway:wght@400;500;700;800&display=swap"
    rel="stylesheet" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>Ingresso comprado</title>
</head>

<body>
  <header>
    <nav class="nav-bar">
      <a href="../index.html">
        <img src="/assets/Logo1_1.svg" alt="Logo do CodeChella" />
      </a>

      <button id="btn-mobile-menu">
        <img src="/assets/menu.svg" alt="Botão do menu hambúrguer" />
      </button>

      <ul class="nav-list">
        <li class="nav-item">
          <a href="experiencia.html" class="nav-link">A experiência</a>
        </li>
        <li class="nav-item">
          <a href="setores.html" class="nav-link">Mapa de Setores</a>
        </li>
        <li class="nav-item">
          <a href="informacoes.html" class="nav-link">Informações</a>
        </li>
        <li class="nav-item">
          <a href="ingresso.html" class="nav-link">Ingresso</a>
        </li>
      </ul>
    </nav>
  </header>

  <main>
    <div class="banner banner-comprado">
      <h1 class="banner-title">Seu ingresso está aqui!</h1>
    </div>

    <section class="ingresso-comprado">
      <h2>
        Uhul, agora sim!<br>
        Seu ingresso está aqui, apresente na entrada do evento e divirta-se!
      </h2>

      <div class="ingresso">
        <div class="logos-box">
          <img src="/assets/Logo1_2.svg" alt="Logo do CodeChella" class="ingresso-logo1">
          <img src="/assets/Logo2_1.svg" alt="Logo alternativo do CodeChella" class="ingresso-logo2">
        </div>

        <img src="/assets/qrcode.png" alt="QR Code do ingresso" class="ingresso-qrcode">

        <div class="infos-box">
          <h3 class="ingresso-nome">Moni Hillman</h3>
          <p class="ingresso-tipo">Ingresso Cortesia</p>
          <p class="ingresso-setor">Setor Pista</p>
          <p class="ingresso-data">Data: 11/03</p>
          <p class="ingresso-local">Local: São Paulo-SP</p>
        </div>
      </div>
    </section>
  </main>

  <footer>
    <div class="footer-box">
      <img src="/assets/Logo1_2.svg" alt="Logo do CodeChella" class="footer-logo" />

      <div class="social-media-box">
        <p class="social-media-text">Acesse nossas redes:</p>

        <ul class="social-media-list">
          <li>
            <a href="#">
              <img src="/assets/whatsapp.svg" alt="Ícone do WhatsApp" />
            </a>
          </li>
          <li>
            <a href="#">
              <img src="/assets/twitch.svg" alt="Ícone da Twitch" />
            </a>
          </li>
          <li>
            <a href="#">
              <img src="/assets/instagram.svg" alt="Ícone do Instagram" />
            </a>
          </li>
          <li>
            <a href="#">
              <img src="/assets/twitter.svg" alt="Ícone do Twitter" />
            </a>
          </li>
        </ul>
      </div>
    </div>

    <p>
      Desenvolvido por
      <a href="https://gabzoom.vercel.app/" target="_blank" class="footer-link">@gabzoom.</a><br />
      Projeto fictício sem fins comerciais.
    </p>
  </footer>

  <script src="/scripts/main.js"></script>
</body>

</html>