.banner-comprar {
    padding: 119.5px 0;
}

.banner-comprar::before {
    background-image: url('../assets/Banner_comprar.jpg');
    background-position: 0% 0%;
}

@media screen and (min-width: 768px) {
    .banner-comprar {
        padding: 150.5px 0;
    }
}

@media screen and (min-width: 1440px) {
    .banner-comprar {
        padding: 162px 0;
    }

    .banner-comprar::before {
        background-position: 0% 22%;
    }
}