.banner {
    text-align: center;
    padding: 93px 0;
    position: relative;
}

.banner::before {
    content: '';
    background-image: url('../assets/Banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    inset: 0;
    opacity: 40%;
}

.banner-title {
    font-family: var(--fonte-titulo);
    font-size: 32px;
    line-height: 41.6px;
    font-weight: 400;
    isolation: isolate;
}

.banner-bottom {
    height: 338px;
    background-image: url('../assets/Banner_bot.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 40%;
    opacity: 65%;
}

@media screen and (min-width: 768px) {
    .banner {
        padding: 109px 0;
    }
    .banner-title {
        font-size: 64px;
        line-height: 83.2px;
    }
}

@media screen and (min-width: 1440px) {
    .banner {
        padding: 120.5px 0;
    }
}
