.banner-xp {
    padding: 114px 0;
}

.banner-xp::before {
    background-image: url('../assets/Banner_xp.jpg');
    background-position: 10% 50%;
}

@media screen and (min-width: 768px) {
    .banner-xp {
        padding: 150.5px 0;
    }
}

@media screen and (min-width: 1440px) {
    .banner-xp {
        padding: 162px 0;
    }

    .banner-xp::before {
        background-position: 10% 0;
    }
}
