.lineup {
    text-align: center;
    font-family: var(--fonte-texto);
    padding: 0 17px 48px;
}

.lineup-title {
    font-family: var(--fonte-titulo);
    font-weight: 400;
    font-size: 48px;
    line-height: 62px;
    padding: 32px 0;
}

.lineup-day {
    font-family: var(--fonte-titulo);
    color: var(--branco);
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    background-color: var(--mostarda);
    padding: 16px 0;
    text-transform: uppercase;
    width: 312px;
    margin: 48px auto;
}

.lineup-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
}

.row-1 {
    font-size: 48px;
    line-height: 56.35px;
    font-weight: 800;
}

.row-2 {
    font-size: 40px;
    line-height: 46.96px;
    font-weight: 700;
}

.row-3 {
    font-size: 32px;
    line-height: 37.57px;
    font-weight: 700;
}

.row-4 {
    font-size: 32px;
    line-height: 37.57px;
    font-weight: 500;
}

.row-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
}

.row-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

@media screen and (min-width: 768px) {
    .lineup {
        padding: 0 33.5px 48px;
    }

    .lineup-title {
        font-size: 64px;
        line-height: 83px;
    }

    .lineup-day {
        font-size: 48px;
        line-height: 62px;
        width: 461px;
    }

    .row-box {
        flex-direction: row;
        gap: 32px;
    }
}

@media screen and (min-width: 1440px) {
    .lineup-title {
        padding-bottom: 0;
    }

    .lineup-day {
        margin-top: 56px;
    }

    .row-flex {
        flex-direction: row;
    }
}
