@import url('header.css');
@import url('banner.css');
@import url('about.css');
@import url('lineup.css');
@import url('footer.css');
@import url('banner_experiencia.css');
@import url('acessibilidade.css');
@import url('sustentabilidade.css');
@import url('atracoes.css');
@import url('banner_setores.css');
@import url('palco.css');
@import url('detalhes.css');
@import url('banner_informacoes.css');
@import url('informacoes.css');
@import url('banner_comprar.css');
@import url('ingresso.css');
@import url('banner_comprado.css');

:root {
    --azul-escuro: #2e7ba2;
    --azul-claro: #c8deef;
    --mostarda: #df9010;
    --amarelo: #facf9d;
    --amarelo-claro: #fbf0dd;
    --branco: #ffffff;
    --cinza: #444444;
    --gradiente-verao: linear-gradient(
        180deg,
        #bfdae6 0%,
        #fcf0dd 50%,
        #facf9d 100%
    );

    --fonte-titulo: 'Calistoga', sans-serif;
    --fonte-texto: 'Raleway', sans-serif;
}

body {
    color: var(--cinza);
}

main {
    background: var(--gradiente-verao);
}
